/* add sorting icons to gridview sort links */
.sorter li {
    display: inline-block;
}
a.asc:after, a.desc:after, a.collapsed:after, a.expanded:after,
span.asc:after, span.desc:after, span.collapsed:after, span.expanded:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after, span.asc:after {
    content: "\e093";
}
a.desc:after, span.desc:after {
    content: "\e094";
}
a.collapsed:after, span.collapsed:after, i.collapsed:after {
    content: "\e114";
}
a.expanded:after, span.expanded:after, i.expanded:after {
    content: "\e113";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* yii elements styles */
.grid-view .actions {
    width: 40px;
}
.pagination {
    margin: 0;
}
.pagination li span {
    border: none;
}
.pagination li a, .pagination li span {
    border: none;
    color: #999 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination li.active a, .pagination li.active span {
    background: none;
    border-bottom: 1px solid #bbb !important;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
}
.pagination li.active a:hover, .pagination li.active a:focus {
    background: #eee !important;
}

.sorter, .summary, .widget-page-size, .ui-currency {
    line-height: 30px;
}
.widget-page-size span.active, .ui-currency span.active {
    font-weight: bold;
    color: #337ab7;
    cursor: not-allowed;
}
